<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <style>
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .card {
        border: 1px solid #ddd;
        padding: 16px;
        margin: 16px;
        width: 250px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      .card h3 {
        font-size: 18px;
      }

      .card p {
        font-size: 14px;
        color: #555;
      }
    </style>
  </head>
  <body>
    <h2>List of Users</h2>
    <div class="container">
      {% if person['embedding']|length %}
      <div class="card">
        <h3>{{ person['name'] }}</h3>
        <h3>{{ person['age'] }}</h3>
        <h3>{{ person['phone'] }}</h3>
        <h3>{{ person['email'] }}</h3>
        <h3>{{ score }}</h3>
        <p>{{ person['address'] }}</p>
        <img src="{{ img_path }}" alt="{{ person['name'] }}" width="200px" height="200px">
        <p>Embedding Length: {{ person['embedding']|length }}</p>

      </div>
        {% else %}
        <h3>No person found</h3>
      {% endif %}
    </div>
    <a href="{{ url_for('find_person') }}">Find other person</a>
  </body>
</html>
