<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Person</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Upload a Person's Image</h2>
    
    <form action="{{ url_for('add_person') }}" method="POST" enctype="multipart/form-data">
        <label for="name">Person's Name:</label>
        <input type="text" id="label" name="name" required>
        <br><br>
        <label for="age">age</label>
        <input type="text" id="label" name="age">
        <br><br>
        <label for="address">Address</label>
        <input type="text" id="label" name="address">
        <br><br>
        <label for="phone">Phone</label>
        <input type="text" id="label" name="phone">
        <br><br>
        <label for="email">Email</label>
        <input type="text" id="label" name="email">
        <br><br>

        <label for="file">Upload Image:</label>
        <input type="file" id="file" name="file" accept="image/*" required>
        <br><br>

        <input type="submit" value="Upload">
    </form>
</body>
</html>
